body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#messages {
    margin-top: 20px;
}

.message {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.message span {
    font-weight: bold;
    color: #333;
}

form {
    margin-top: 20px;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 10px;
}
